.bio-section {
	display: block;
	margin: 0px auto;
	width: 100%;

	.bio-section__image {
		display: block;
		width: 100%;
	}

	.bio-section__text {
		color: #0059b3;
		display: block;
		font-size: 20px;
		padding: 5%;
		text-align: center;
		width: 90%;
	}
}

@media only screen and (min-width: 851px) {
	.bio-section {
		.bio-section__text {
			display: inline-block;
			font-size: 22px;
			margin: 25px 5%;
			padding: 0;
			text-align: center;
			vertical-align: top;
			width: 50%;
		}

		.bio-section__image {
			display: inline-block;
			max-width: 500px;
			min-width: 300px;
			width: 39%;
			padding: 1% 0 0 1%;
		}
	}
}
