.site-body {
	background: transparent;
	border: 0px;
	color: #00264d;
	margin: 30px auto;
	width: 90%;
}

.bio-section {
	background: #ffffff;
	border: 5px solid #0059b3;
	box-shadow: 0px 0px 60px 5px;
	display: table;
	margin: 0px auto;
	width: 100%;

	.bio-section__image {
		display: block;
		width: 100%;
	}

	.bio-section__text {
		color: #0059b3;
		display: block;
		font-size: 20px;
		margin: 5%;
		text-align: center;
		width: 90%;
	}
}

.comic-grid {
	display: grid;
	font-size: 0;
	grid-auto-rows: 1fr;
	grid-gap: 10px;
	grid-template-columns: repeat(2, 1fr);
	max-width: 100%;
	padding: 30px 0px 0px;

	.comic-grid__item {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}

@supports (display: grid) {
	
	.comic-grid__item--1 {
		-webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 45px), 0 100%);
		background-image: url("../images/sliderImages/joeWings.jpg");
		clip-path: polygon(0 0, 100% 0, 100% calc(100% - 45px), 0 100%);
		grid-column: 1 / span 1;
		grid-row: 1 / 50;
	}

	.comic-grid__item--2 {
		-webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 80px), 0 calc(100% - 45px));
		background-image: url("../images/sliderImages/alwayssunny.jpg");
		clip-path: polygon(0 0, 100% 0, 100% calc(100% - 80px), 0 calc(100% - 45px));
		grid-column: 2 / span 1;
		grid-row: 1 / 50;
	}

	.comic-grid__item--3 {
		-webkit-clip-path: polygon(0 14%, 0 86%, 90% 81%, 100% 6%);
		background-image: url("../images/sliderImages/sanfran3.jpg");
		clip-path: polygon(0 14%, 0 86%, 90% 81%, 100% 6%);
		grid-column: 1 / span 1;
		grid-row: 50 / 100;
		margin-top: -73px;
	}

	.comic-grid__item--4 {
		-webkit-clip-path: polygon(13% 6%, 4% 84%, 100% 100%, 100% 0%);
		background-image: url("../images/sliderImages/ericWedding.jpg");
		clip-path: polygon(13% 6%, 4% 84%, 100% 100%, 100% 0%);
		grid-column: 2 / span 1;
		grid-row: 50 / 100;
		margin-bottom: 18px;
		margin-left: -15%;
		margin-top: -73px;
	}

	.comic-grid__item--5 {
		-webkit-clip-path: polygon(45% 0, 100% 15%, 100% calc(100% - 75px), 50% 93%, 0 calc(100% - 55px), 0 5%);
		background-image: url("../images/sliderImages/q2.jpg");
		clip-path: polygon(45% 0, 100% 15%, 100% calc(100% - 75px), 50% 93%, 0 calc(100% - 55px), 0 5%);
		grid-column: 1 / span 2;
		grid-row: 100 / 150;
		margin-top: -107px;
	}

	.comic-grid__item--6 {
		-webkit-clip-path: polygon(0 4%, 0 86%, 90% 81%, 100% 6%);
		background-image: url("../images/sliderImages/picnic2.jpg");
		clip-path: polygon(0 4%, 0 86%, 90% 81%, 100% 6%);
		grid-column: 1 / span 1;
		grid-row: 150 / 200;
		margin-top: -73px;
	}

	.comic-grid__item--7 {
		-webkit-clip-path: polygon(13% 6%, 4% 84%, 100% 100%, 100% 0%);
		background-image: url("../images/sliderImages/dc1.jpg");
		clip-path: polygon(13% 6%, 4% 84%, 100% 100%, 100% 0%);
		grid-column: 2 / span 1;
		grid-row: 150 / 200;
		margin-bottom: 18px;
		margin-left: -15%;
		margin-top: -73px;
	}

	.comic-grid__item--8 {
		-webkit-clip-path: polygon(45% 0, 100% 15%, 100% 100%, 0 100%, 0 calc(100% - 55px), 0 5%);
		background-image: url("../images/sliderImages/sanclem1.jpg");
		clip-path: polygon(45% 0, 100% 15%, 100% 90%, 0 90%, 0 calc(100% - 55px), 0 5%);
		grid-column: 1 / span 2;
		grid-row: 200 / 250;
		margin-top: -107px;
	}
}

@media only screen and (min-width: 851px) {
	.bio-section {
		.bio-section__text {
			display: inline-block;
			font-size: 20px;
			margin: 25px 25px;
			text-align: center;
			vertical-align: top;
			width: calc(100% - 350px);
		}

		.bio-section__image {
			display: inline-block;
			max-width: 500px;
			min-width: 300px;
			width: 40%;
		}
	}
}

@media only screen and (min-width: 851px) {
	.bio-section .bio-section__text {
		font-size: 22px;
		margin: 25px 5%;
		width: 50%;
	}
}
