/*GLOBAL STYLES*/
body {
  margin: 0px; }

a {
  text-decoration: none; }

/* NAV STYLES */
.header {
  background: #e23636;
  /*#0066cc;*/
  border-bottom: 5px solid #000;
  box-shadow: 0px 0px 15px #000;
  color: #ffffff;
  text-align: center;
  width: 100%; }
  .header .header__logo,
  .header .header__home-link {
    color: #ffffff;
    cursor: pointer;
    font-family: 'Amatica SC', cursive;
    font-size: 100px;
    line-height: 80px;
    margin: 0px;
    padding: 0px; }
  .header .header__logo {
    background-image: url("../images/collectorPixelArt.png");
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    line-height: 210px;
    text-shadow: 4px 4px 8px #000; }
  .header .header__main-nav {
    height: 40px;
    position: absolute;
    right: 0px; }
  .header .header__link {
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    display: inline-block;
    font-size: 24px;
    margin: 0px 8px;
    padding: 0px 5px; }
    .header .header__link a {
      color: #ffffff;
      font-family: 'Oswald', sans-serif;
      line-height: 25px;
      text-decoration: none; }
  .header .login-wrapper {
    background: #000;
    display: none;
    height: 165px;
    left: -122px;
    margin-top: -5px;
    position: absolute;
    width: 170px; }
    .header .login-wrapper .input-label {
      margin: 0px;
      padding: 5px 10px 5px;
      text-align: left; }
    .header .login-wrapper input {
      line-height: 20px;
      width: 150px; }
    .header .login-wrapper .button {
      width: 150px; }

.mini-header {
  background: #e23636;
  /*#0066cc;*/
  box-shadow: 4px 4px 15px #000;
  color: #ffffff;
  height: 0px;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  text-align: center;
  top: 0px;
  width: 100%; }
  .mini-header .home-header {
    color: #ffffff;
    cursor: pointer;
    font-family: 'Amatica SC', cursive;
    font-size: 100px;
    line-height: 80px;
    margin-bottom: 40px;
    margin-top: 0px; }
  .mini-header .link {
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    display: inline-block;
    font-size: 24px;
    line-height: 25px;
    margin: 0px 8px;
    padding: 0px 5px; }
    .mini-header .link a {
      color: #ffffff;
      font-family: 'Oswald', sans-serif;
      text-decoration: none; }
  .mini-header .in-view {
    height: 0px;
    overflow: hidden; }
  .mini-header h2 {
    color: #ffffff;
    cursor: pointer;
    float: left;
    font-family: 'Amatica SC', cursive;
    font-size: 35px;
    line-height: 44px;
    margin: 0px 35px; }
    .mini-header h2:before {
      background-image: url("../images/collectorPixelArt.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      content: "";
      height: 45px;
      left: 8px;
      position: absolute;
      width: 23px; }
  .mini-header .main-nav {
    float: right;
    line-height: 63px;
    margin: 0px 10px; }

.main-nav .link {
  border-bottom: 0px;
  text-decoration: none; }
  .main-nav .link.selected {
    background: #000; }
  .main-nav .link a {
    background-size: cover;
    display: block;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
    width: 30px; }
.main-nav .header__link-account {
  background-image: url("../images/icons/account.png"); }
  .main-nav .header__link-account.selected {
    background-image: url("../images/icons/account_selected.png");
    background-size: cover;
    background: #000; }
.main-nav .header__link-search {
  background-image: url("../images/icons/search.png"); }
  .main-nav .header__link-search.selected {
    background-image: url("../images/icons/search_selected.png");
    background-size: cover;
    background: #000; }

.current-page {
  border-color: #99ccff;
  color: #99ccff; }
  .current-page a {
    color: #99ccff; }

/* FOOTER STYLES */
.footer {
  background: #0059b3;
  bottom: 0px;
  color: #ffffff;
  height: 120px;
  width: 100%; }

/* BASIC BODY STYLES */
.site-body-wrapper {
  background: #ffffff;
  color: #000;
  font-family: 'Oswald', sans-serif;
  font-size: 17px;
  letter-spacing: .7px;
  margin: 30px auto;
  width: 90%; }
  .site-body-wrapper .site-section-wrapper .section-header-text {
    color: #518cca;
    font-size: 18px;
    line-height: 26px;
    padding: 5px 10px; }
  .site-body-wrapper .site-section-wrapper .section-body {
    background: #ffffff;
    color: #0059b3;
    font-size: 15px;
    letter-spacing: .7px; }

/* STANDARD BUTTON STYLES */
.button {
  background: #e23636;
  border: 1px solid #000;
  box-shadow: 0px 0px 4px #000;
  color: #fff;
  cursor: pointer;
  font-family: 'Oswald', sans-serif;
  padding: 5px; }

/* STANDARD SPINNER STYLES */
.spinner {
  animation: spin 2s linear infinite;
  background-image: url("../images/collectorPixelArt.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 16px solid #518cca;
  border-radius: 50%;
  border-top: 16px solid #518cca;
  border: 16px solid #f78f3f;
  height: 80px;
  margin: 0px auto;
  width: 80px; }

/*STANDARD HEADER STYLE*/
.section-header {
  background: #e23636;
  box-shadow: 4px 4px 15px #000;
  color: #fff;
  line-height: 40px;
  padding-left: 20px;
  text-shadow: 4px 4px 12px #000; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
/*STANDARD SHOW AND HIDE CLASSES*/
.show {
  display: block; }

.hide {
  display: none; }

/*MQ OVERRIDES*/
@media only screen and (min-width: 448px) {
  .header h1 {
    line-height: 150px;
    margin-bottom: 25px; }

  .mini-header.in-view {
    height: 50px;
    opacity: 0.95;
    transition: all .2s ease .1s;
    z-index: 1000; } }
@media only screen and (min-width: 1110px) {
  .login-wrapper.show {
    display: block; } }

/*# sourceMappingURL=base.css.map */
