/*GLOBAL STYLES*/
body {
  margin: 0px; }

a {
  text-decoration: none; }

/* NAV STYLES */
.header {
  background: #e23636;
  /*#0066cc;*/
  color: #ffffff;
  text-align: center;
  width: 100%; }
  .header .header-logo,
  .header .home-header {
    color: #ffffff;
    cursor: pointer;
    font-family: 'Amatica SC', cursive;
    font-size: 100px;
    line-height: 80px;
    margin-bottom: 40px;
    margin-top: 0px; }
  .header .header-logo {
    background-image: url("../images/collectorPixelArt.png");
    background-repeat: no-repeat;
    background-position: center;
    line-height: 250px;
    text-shadow: 4px 4px 8px #000; }
  .header .main-nav {
    height: 40px;
    margin: 0px auto;
    padding-bottom: 20px; }
  .header .link {
    font-size: 24px;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    display: inline-block;
    padding: 0px 5px;
    margin: 0px 8px; }
    .header .link a {
      color: #ffffff;
      line-height: 25px;
      text-decoration: none;
      font-family: 'Oswald', sans-serif; }

.mini-header {
  background: #e23636;
  /*#0066cc;*/
  color: #ffffff;
  text-align: center;
  width: 100%;
  height: 0px;
  opacity: 0;
  position: fixed;
  top: 0px;
  overflow: hidden;
  box-shadow: 4px 4px 15px #000; }
  .mini-header .home-header {
    color: #ffffff;
    cursor: pointer;
    font-family: 'Amatica SC', cursive;
    font-size: 100px;
    line-height: 80px;
    margin-bottom: 40px;
    margin-top: 0px; }
  .mini-header .link {
    font-size: 24px;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    display: inline-block;
    padding: 0px 5px;
    line-height: 25px;
    margin: 0px 8px; }
    .mini-header .link a {
      color: #ffffff;
      text-decoration: none;
      font-family: 'Oswald', sans-serif; }
  .mini-header .in-view {
    height: 0px;
    overflow: hidden; }
  .mini-header h2 {
    color: #ffffff;
    cursor: pointer;
    font-family: 'Amatica SC', cursive;
    float: left;
    font-size: 35px;
    line-height: 44px;
    margin: 0px 35px; }
    .mini-header h2:before {
      background-image: url("../images/collectorPixelArt.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      content: "";
      height: 45px;
      left: 8px;
      position: absolute;
      width: 23px; }
  .mini-header .main-nav {
    float: right;
    line-height: 63px;
    margin: 0px 10px; }

.current-page {
  color: #99ccff;
  border-color: #99ccff; }
  .current-page a {
    color: #99ccff; }

/* FOOTER STYLES */
.footer {
  background: #0059b3;
  color: #ffffff;
  height: 120px;
  bottom: 0px;
  width: 100%; }

/* BASIC BODY STYLES */
.site-body-wrapper {
  background: #ffffff;
  color: #000;
  margin: 30px auto;
  width: 90%;
  font-family: 'Oswald', sans-serif;
  font-size: 17px;
  letter-spacing: .7px; }
  .site-body-wrapper .site-section-wrapper .section-header-text {
    color: #518cca;
    font-size: 18px;
    line-height: 26px;
    padding: 5px 10px; }
  .site-body-wrapper .site-section-wrapper .section-body {
    background: #ffffff;
    color: #0059b3;
    font-size: 15px;
    letter-spacing: .7px; }

/* STANDARD BUTTON STYLES */
/*MQ OVERRIDES*/
@media only screen and (min-width: 448px) {
  .header h1 {
    margin-bottom: 25px;
    line-height: 150px; }

  .mini-header.in-view {
    height: 50px;
    opacity: 0.95;
    transition: all .2s ease .1s;
    z-index: 1000; } }

/*# sourceMappingURL=base.css.map */
