/*GLOBAL STYLES*/
body {
	margin: 0px;
}

a {
	text-decoration: none;
}


/* NAV STYLES */
.header {
	background: #e23636; /*#0066cc;*/
	color: #ffffff;
	text-align: center;
	width: 100%;
	border-bottom: 5px solid #000;
	box-shadow: 0px 0px 15px #000;

	.header-logo,
	.home-header {
		color: #ffffff;
		cursor: pointer;
		font-family: 'Amatica SC', cursive;
		font-size: 100px;
		line-height: 80px;
		margin-bottom: 40px;
		margin-top: 0px;
	}

	.header-logo {
		background-image: url("../images/collectorPixelArt.png");
		background-repeat: no-repeat;
		background-position: center;
		line-height: 250px;
		text-shadow: 4px 4px 8px #000;
	}

	.main-nav {
		height: 40px;
		margin: 0px auto;
		padding-bottom: 20px;
	}

	.link {
		font-size: 24px;
		color: #ffffff;
		border-bottom: 1px solid #ffffff;
		display: inline-block;
		padding: 0px 5px;
		margin: 0px 8px;
		a {
			color: #ffffff;
			line-height: 25px;
			text-decoration: none;
			font-family: 'Oswald', sans-serif;
		}
	}
}

.mini-header {
	background: #e23636; /*#0066cc;*/
	color: #ffffff;
	text-align: center;
	width: 100%;
	height: 0px;
	opacity: 0;
	position: fixed;
	top: 0px;
	overflow: hidden;
	box-shadow: 4px 4px 15px #000;

	.home-header {
		color: #ffffff;
		cursor: pointer;
		font-family: 'Amatica SC', cursive;
		font-size: 100px;
		line-height: 80px;
		margin-bottom: 40px;
		margin-top: 0px;
	}

	.link {
		font-size: 24px;
		color: #ffffff;
		border-bottom: 1px solid #ffffff;
		display: inline-block;
		padding: 0px 5px;
		line-height: 25px;
		margin: 0px 8px;
		a {
			color: #ffffff;
			text-decoration: none;
			font-family: 'Oswald', sans-serif;
		}
	}

	.in-view {
		height: 0px;
		overflow: hidden;
	}

	h2 {
		color: #ffffff;
		cursor: pointer;
		font-family: 'Amatica SC', cursive;
		float: left;
		font-size: 35px;
		line-height: 44px;
		margin: 0px 35px;
		&:before {
			background-image: url("../images/collectorPixelArt.png");
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			content: "";
			height: 45px;
			left: 8px;
			position: absolute;
			width: 23px;
		}
	}

	.main-nav {
		float: right;
		line-height: 63px;
		margin: 0px 10px;
	}
}

.current-page {
	color: #99ccff;
	border-color: #99ccff;
	a {
		color: #99ccff;
	}
}

/* FOOTER STYLES */
.footer {
	background: #0059b3;
	color: #ffffff;
	height: 120px;
	bottom: 0px;
	width: 100%;
}

/* BASIC BODY STYLES */
.site-body-wrapper {
	background: #ffffff;
	color: #000;
	margin: 30px auto;
	width: 90%;
	font-family: 'Oswald', sans-serif;
	font-size: 17px;
	letter-spacing: .7px;

	.site-section-wrapper {
		.section-header-text {
			color: #518cca;
			font-size: 18px;
			line-height: 26px;
			padding: 5px 10px;
		}
		.section-body {
			background: #ffffff;
			color: #0059b3;
			font-size: 15px;
			letter-spacing: .7px;
		}
	}
}

/* STANDARD BUTTON STYLES */
.button {
	background: #e23636;
	border: 1px solid #000;
	box-shadow: 0px 0px 4px #000;
}

/* STANDARD SPINNER STYLES */
.spinner {
	border: 16px solid #f78f3f;
	border-top: 16px solid #518cca;
	border-bottom: 16px solid #518cca;
	border-radius: 50%;
	width: 80px;
	height: 80px;
	animation: spin 2s linear infinite;
	margin: 0px auto;
	background-image: url("../images/collectorPixelArt.png");
	background-size: cover;
	background-repeat: no-repeat;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

/*STANDARD SHOW AND HIDE CLASSES*/
.show {
	display: block;
}

.hide {
	display: none;
}

/*MQ OVERRIDES*/
@media only screen and (min-width: 448px) {
	.header h1 {
		margin-bottom: 25px;
		line-height: 150px;
	}
	.mini-header.in-view {
		height: 50px;
		opacity: 0.95;
		transition: all .2s ease .1s;
		z-index: 1000;
	}
}
