.search-body-wrapper {
	margin: 0px auto;
	width: 80%;
}

.search-form {
	padding-top: 25px;
	.search-text,
	.dropdown-label,
	.search {
		display: inline-block;
	}
}


.advanced-search-options-show {
	cursor: pointer;
	font-size: 14px;
	padding-bottom: 5px;
	text-decoration: underline;
}

.advanced-search-options-wrapper {
	background: #e23636;
	color: #fff;
	max-height: 0px;
	visibility: hidden;

	&.show {
		overflow-y: hidden;
		max-height: 100px; /* approximate max height */
		transition-property: all;
		transition-duration: 1s;
		visibility: visible;
	}

	.advanced-search-option {
		display: inline-block;
		font-size: 14px;
		padding: 5px 5px;
	}
}

.search-result {
	background: #fff;
	border: 2px solid #518cca;
	min-height: 300px;
	max-width: 500px;
	margin: 5px auto;


	.result-img {
		display: inline-block;
		float: left;
		height: 300px;
		width: 200px;
	}

	.result-information {
		display: inline-block;
		padding: 10px;
		vertical-align: top;
		width: 45%;
		div {
			padding: 5px;
		}
	}
}

.pagination {
	margin: 5px auto;
	text-align: center;
	color: #fff;

	.prev,
	.next {
		cursor: pointer;
		display: inline-block;
		width: 80px;
		padding: 5px;
	}

	.pages {
		display: inline-block;
	}
	
	.page-selctor {
		cursor: pointer;
		display: inline-block;
		width: 50px;
		padding: 5px;
		&.current-page {
			font-weight: bold;
		}
	}
}

