.search-body-wrapper {
	margin: 0px auto;
	width: 80%;
}

.search-form {
	padding-top: 25px;
	.search-text,
	.dropdown-label,
	.search {
		display: inline-block;
	}
}


.advanced-search-options-show {
	cursor: pointer;
	font-size: 14px;
	padding-bottom: 5px;
	text-decoration: underline;
}

.advanced-search-options-wrapper {
	background: #e23636;
	color: #fff;
	max-height: 0px;
	visibility: hidden;

	&.show {
		overflow-y: hidden;
		max-height: 100px; /* approximate max height */
		transition-property: all;
		transition-duration: 1s;
		visibility: visible;
	}

	.advanced-search-option {
		display: inline-block;
		font-size: 14px;
		padding: 5px 5px;
	}
}

.search-result {
	background: #fff;
	border: 2px solid #518cca;
	margin: 5px auto;
	min-height: 500px;
	width: 300px;

	.result-img {
		display: inline-block;
		float: left;
		width: 300px;
	}

	.result-information {
		display: inline-block;
		padding: 10px;
		vertical-align: top;
		div {
			padding: 5px 0px;
		}
		.creator {
			display: block;
			padding: 0px 0px;
		}
	}
}

.pagination {
	margin: 5px auto;
	text-align: center;
	color: #fff;

	.prev,
	.next {
		cursor: pointer;
		display: inline-block;
		width: 80px;
		padding: 5px;
	}

	.pages {
		display: inline-block;
	}
	
	.page-selctor {
		cursor: pointer;
		display: inline-block;
		width: 50px;
		padding: 5px;
		&.current-page {
			font-weight: bold;
		}
	}
}

@media only screen and (min-width: 448px) {
	.search-result {
		min-height: 300px;
		min-width: 400px;
		display: inline-block;
		margin: 10px 20px;

		.result-img {
			height: 300px;
			width: 200px;
		}

		.result-information {
			width: calc(100% - 220px);
		}
	}
}
